
button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  outline: none;
  padding: .875rem 1rem;
  border-radius: 1.5rem;
  border: none;
  background: #FF69AD;
  font-size: 0.875rem;
  pointer-events: auto;
}

.outline {
  color: #FF69AD;
  border: 1px solid #FF69AD;
  border-radius: 1rem;
  padding: .5rem 1rem;
  background: transparent;
}

.big-button {
  width: 20rem;
}

